body {
    background-color: #OFF;
    background-image: url("back.jpg");
    
    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 100px;
    margin-left: 100px;
}


#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;	      
}
#section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}
